@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

.container {
    text-align: center;
    align-items: center;
    max-width: 700px;
    padding: 100px 50px 50px 50px;
    border-radius: 20px;
}

.container h2 {
    font-size: 30px;
    font-weight: 700;
}

form {
    width: 100%;
    text-align: center;
}

form button {
    width: 70%;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid #87C1FF;
    background-color: #87C1FF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

form button:hover {
    color: #fff;
    background: #222;
    border: 1px solid #777;
    transition: all .3s ease;
}

.inp {
    width: 100%;
    position: relative;
    margin: auto;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

.inp .label {
    position: absolute;
    top: -5px;
    left: 12px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.inp .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
}

.inp input {
    width: 100%;
    max-width: 400px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-family: inherit;
    padding: 30px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    transition: all 0.15s ease;
}


.inp input:not(:-moz-placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:-ms-input-placeholder)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:not(:placeholder-shown)+.label {
    color: rgba(0, 0, 0, 0.5);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.inp input:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 #87C1FF;
}

.inp input:focus+.label {
    color: #87C1FF;
    transform: translate3d(0, -12px, 0) scale(0.75);
}

@media all and (max-width: 520px){
    .inp {
        display: block;
    }
    .inp .label {
        top: 25px;
    }
    #editpass .inp .label {
        font-size: 15px;
        left: 5px;
    }
}

@media all and (max-width: 500px){
    form button {
        width: fit-content;
    }
}